@section CSS{
     <!-- Custom styles for this page -->
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}
@{
    ViewData["Title"] = "Kabag | Barang";
    Layout = "_LayoutKabag";

}

 <div class="card shadow mb-4" mt-4>
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Daftar Barang</h6>
    </div>
    
        <!-- Button trigger modal insert -->
        <button type="button" class="btn btn-primary mb-4" data-toggle="modal" data-target="#staticBackdrop">
         Tambah Data Barang
        </button>

     <div class="card-body ">
         <table  class="table table-bordered table-striped"  id="dataTable1">
            <thead>
                <tr>
                     <th scope="col">No</th>
                    <th scope="col">Barang</th>
                    <th scope="col">Stok</th>
                </tr>
            </thead>
            <tbody >
                <tr>
                    <td scope="col">1</td>
                    <td scope="col">Pulpen</td>
                    <td scope="col">2</td>
                </tr>
            </tbody>
           </table>
    </div>
</div>

<!-- Modal Insert Barang-->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Tambah Barang</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method = "POST">
          <div class="form-group">
            <label for="id">ID Barang</label>
            <input type="text" class="form-control" id="id_barang" disabled>
          </div>
          <div class="form-group">
            <label for="nama_barang">Nama Barang</label>
            <input type="text" class="form-control" id="nama_barang">
          </div>
           <div class="form-group">
              <label for="satuan">Satuan</label>
              <select id="satuan" class="form-control">
                <option selected>pcs</option>
                <option>rim</option>
                <option>kodi</option>
              </select>
            </div>
          <div class="form-group">
            <label for="harga">Harga</label>
            <input type="number" class="form-control" id="harga">
          </div> 
          <div class="form-group">
            <label for="Supllier">Supplier</label>
            <select id="id_supplier" class="form-control">
                <option selected>PT. A</option>
                <option>PT. B</option>
                <option>PT. C</option>
              </select>
          </div>
          <button type="submit" class="btn btn-primary" onclick = "insert()">Kirim</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

@section Scripts{

        <!-- Page level plugins -->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
        <!-- Page level custom scripts -->
    <script src="~/js/demo/datatables-demo.js"></script>



}