<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> Login Page </title>
    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">

</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <div class="text-justify">
                    <h1 class="display-4">Lupa Password ?</h1>
                    <p>
                        Anda dapat me-reset password Anda disini.<br /> Silahkan masukkan email dan password baru Anda
                    </p>
                </div>
                <div class="align-items-center">
                    <form asp-action="ForgotPassword">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" name="email" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="newPassword">Password Baru</label>
                            <input type="password" class="form-control" id="newPassword" name="newPassword">
                        </div>
                        <div class="form-group">
                            <label for="confirmNewPassword">Konfirmasi Password Baru</label>
                            <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword">
                        </div>
                        <button type="submit" id="Login" class="btn btn-primary">Reset</button>
                        <div id="login" class="form-text"> <a asp-controller="Account" asp-action="Login">Sudah ingat passwordnya?</a></div>
                    </form>
                </div>
            </div>
            <div class="col">
                <img style="height: 500px" src="https://online.studilmu.com/images/4254eb06-b0c7-4449-9ef2-cd0a1efc6d10.jpg" />
            </div>
        </div>
    </div>
</body>
</html>
