<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> Login Page </title>
    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">

</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <div class="text-justify">
                    <h1 class="display-4">Register</h1>
                    <p>
                        Belum punya akun?<br /> Silahkan lengkapi form berikut:
                    </p>
                </div>
                <div class="align-items-center">
                    <form asp-action="Register">
                        <div class="form-group">
                            <label for="fullName">Nama Lengkap</label>
                            <input type="text" class="form-control" id="fullName" name="fullName">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" name="email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                        <div class="form-group">
                            <label for="roleId">Role Id</label>
                            <input type="number" class="form-control" id="roleId" name="roleId">
                        </div>
                        <button type="submit" id="Login" class="btn btn-primary">Register</button>
                        <div id="login" class="form-text"> <a asp-controller="Account" asp-action="Login">Sudah punya Akun ?</a></div>
                    </form>
                </div>
            </div>
            <div class="col">
                <img style="height: 500px" src="https://img.freepik.com/premium-vector/online-registration-sign-up-concept-with-man-character_268404-98.jpg" />
            </div>
        </div>
    </div>
</body>
</html>
